
#foodBar {
    background-color: green;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#tamagotchiImg2 {
    display: none;
}

#happyBar {
    background-color: blue;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#healthBar {
    background-color: red;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#exhaustionBar {
    background-color: #660033;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.gridTwo-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 100%;
  }

  .gridOne-container {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2196F3;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
  }

  #textLog{
    border: solid black 2px;
    width: 450px;
    height: 250px;
  }

  #trophyOne {
      height: 35px;
      width: 35px;
  }